#contents {
    margin-bottom: 200px;
}

.join_title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 100px 0 132px 0;
}
.join_wrap {
    display: flex;
    justify-content: space-evenly;
    
}
.vefy_input {
    font-size: 15px;
    color: #000;
    border: 1px solid #cccccc;
    margin-bottom: 27px;
    padding: 17px 355px 16px 20px;
    display: block;
}
.join_left > input:last-child {
    border: none;
    color: #000;
    margin-bottom: 172px;
    padding-left: 0;
}
.left_desc {
    font-size: 15px;
    margin-top: 10px;
}
.id_input {
    position: relative;
}
.id_input:after {
    content: '중복확인';
    position: absolute;
    right: 15px;
    top: 11px;
    color: #fff;
    background: #4d942c;
    padding: 5px 24px;
    border-radius: 5px;
}
.address_input {
    position: relative;
}
.address_input:after {
    content: '검색';
    position: absolute;
    right: 15px;
    top: 11px;
    color: #fff;
    background: #b1c5b3;
    padding: 5px 35px;
    border-radius: 5px;
}
.join_line {
    content: '';
    margin: 0 60px;
    width: 7px;
    height: 616px;
    transform: rotate(180deg);
    background-color: #c4c4c4;
}
.right_title {
    color: #fff;
    background-color: #b1c5b3;
    padding: 17px 1px 20px;
    white-space: nowrap;
    font-weight: normal;
}
.agree_wrap {
    background-color: rgba(204, 204, 204, 0.2);
    font-size: 15px;
}
.right_agree {
    padding: 30px 40px 45px 20px;
}
.agree_desc {
    margin: 27px 0 27px 0;
    
}
.agree_desc2 {
    padding-bottom: 27px;
}
.join_click {
    width: 100%;
    color: #fff;
    background-color: #efefef;
    padding: 16px 230px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    white-space: nowrap;
    pointer-events: none;   
    /* visibility: hidden;     */
}
#checkAll {
    transform: scale(1.7);
    margin: 0 10px 0 28px;
}
#check {
    transform: scale(1.7);
    margin: 0 10px 0 28px;
}
fieldset {
    border: none;
}
.find_id_view {
    margin: 0 20px;
    font-size: 50px;
    color: red;
}

/* member-form */
#contents {
    margin-top: 100px;
}
.member-form {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 60px 40px;
    box-sizing: border-box;
}
.member-form h3 {
    font-size: 24px;
    margin-bottom: 30px;
}
.member-form h4 {
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 14px;
}
.member-form .join-info {
    margin-bottom: 20px;
}
.member-form .join-privacy {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 50px;
}
.member-form button {
    font-size: 18px;
}
.member-form .info {
    padding-top: 20px;
    color: #666;
}
.member-form .info a {
    text-decoration: underline;
    color: #666;
}
.vefyLogo2 {
    background-image: url(../img/logo_green.png);
    background-size: cover;
    margin: 52px auto;
    width: 140px;
    height: 42px;
}
.scrollWrap {
    overflow-y: scroll;
    height: 346px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
}
