.modalOverlay {
    width: 100vw;
    height: 100vh;
    background-color: #0102006e;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modalOverlay.active {
    display: fixed;
}
.modalWrap {
    margin: 100px 0;
    border: 1px solid rgba(255, 255, 255, 0.664);
    width: 706px;
    height: 687px;
    background-image: url(../img/login.png);
    background-size: cover;
    background-position: center right;
}
.modalTop {
    text-align: center;
    margin-top: 60px;
}
.modalTitle {
    margin-bottom: 45px;
    font-size: 38px;
}
.modalDesc {
    font-size: 35px;
}
.modalTop p {
    margin-bottom: 30px;
}
.modalInput {
    text-align: center;
}
.inputWrap {
    display: block;
}
.input_write2 {
    padding: 17px 200px 17px 17px;
    font-weight: 500;
    margin-bottom: 28px;
    position: relative;
    border: 1px solid #b1c5b3;
}
.SignUp {
display: inline-block;
}
.loginSuccess {
    background-color: #b1c5b3;
    text-align: center;
    padding: 17px;
    color: #fff;
    font-weight: bold;
    width: 384.33px;
    border: 0;
    margin: 20px 0;
}
.check__box {
}
.loginClose {
    font-size: 18px;
}
.SignUp u {
    margin-left: 10px;
}