* {
    text-align: center;
}

.login_find {
    display: flex;
    justify-content: center;
}

.id_find {
    padding: 20px 70px;
    font-size: 20px;
    border-top: 2px solid #c0bebebd;
    border-left: 2px solid #c0bebebd;
    border-right: 2px solid #c0bebebd;
}
.id_find a {
    color: #000000;
}
.pass_find {
    font-size: 20px;

    border-top: 2px solid #c0bebebd;
    border-bottom: 2px solid #c0bebebd;
    border-right: 2px solid #c0bebebd;
    padding: 20px 70px;
}
.pass_find a {
    color: #0000002a !important;
}

#youID {
    border: 1px solid #cccccc;
    width: 580px;
    height: 60px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
}
#youPhone {
    margin: 30px 0;
}
.btn_submit2 {
    background-color: #b1c5b3;
    text-align: center;
    padding: 17px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    width: 513.33px;
    border: 0;
    cursor: pointer;
}
.find_desc {
    font-size: 15px;
    line-height: 1.47;
    margin: 10px 0 200px 0;
}
fieldset {
    border: none;
}
.input_write {
    border: 1px solid #cccccc;
    width: 509px;
    height: 60px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: left;
    padding-left: 15px;
}