.search {
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.glasses img{
    width: 33px; 
    height: 33px;
    margin: 5px 15px 0 0;
}
.store_search {
    padding: 9px 170px 9px 8px;
}
.search_click {
    display: inline-block;
    margin-left: 16px;
    padding: 10px 30px;
    background-color: #83d15e;
    border-radius: 10px;
    border: 1px solid #000;
}
.header_wrap {
    border: 1px solid #000;
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    font-size: 21px;
    cursor: pointer;
}
.header_left {
    position: relative;
    margin-left: 40px;
}
.header_right > span.active {
    color: rgb(17, 230, 34);
}
.ham {
    position: absolute;
    right: 20px;
    top: 16px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: none;
}
.ham span {
    width: 20px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    left: 5px;
    top: 13px;
}

.ham span::before {
    content: '';
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 7px;
}

.ham span::after {
    content: '';
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 7px;
}
.header_left .category {
    
}
.header_right {
    margin-right: 30px;
}
.header_right span {


}
.header_right span:before {
    content: '|';
    width: 1px;
    vertical-align: 2px;
    margin: 0 28px;
}
.store_title {
    font-size: 32px;
    margin: 100px 0 120px 0;
    text-align: center;
    font-weight: bold;
}
.store_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    display: none;
}

.desc_wrap {
    margin-top: 5px;
    border-radius: 5px;
}

.store_wrap .store_img {
    margin-right: 15px;
    width: 100%;
    overflow: hidden;
}
.store_img img:hover {
    transform: scale(1.04);
    transition: all 0.3s;
}
.store_wrap .store_img img {
    height: 240px;
}
.store_wrap .store_img:last-child {
    margin-right: 0;
}
.store_img .img_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}
.store_img .img_desc {
    font-size: 15px;
    font-weight: bold;
}
.store_img .img_price {
    font-size: 17px;
    margin-top: 5px;
}
.store_img .img_price2 {
    color: rgba(0, 0, 0, 0.459);
    text-decoration: line-through;
    margin-left: 6px;
    vertical-align: -1px;
}
.store_img .img_price3 {
    color: rgb(238, 16, 16);
    font-weight: bold;
    vertical-align: -1px;
    margin-left: 10px;
}
.review_wrap {
    margin-top: 12px;
}
.review_wrap .review {
    margin-right: 3px;
}
.review_wrap .review_red {
    color: rgb(238, 16, 16);
    margin-left: 5px;
}
.review_black {
    color: rgba(0, 0, 0, 0.459);
}
.review_wrap .grade {
    display: inline-block;
    margin-right: 5px;
}
