header {
    background: #4d942c;
    height: 100px;
    margin-bottom: 100px;
}
footer {
    background: #4d942c;
    height: 140px;
    margin-top: 100px;
}
.search {
    display: inline-block;
    display: flex;
    justify-content: center;
}
.glasses img{
    width: 33px; 
    height: 33px;
    margin-right: 13px;
}
.store_search {
    padding: 9px 170px 9px 8px;
    
}
.search_click {
    display: inline-block;
    margin-left: 16px;
    padding: 10px 30px;
    background-color: #83d15e;
    border-radius: 10px;
    border: 1px solid #000;
}
.header_wrap {
    border: 1px solid #000;
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    font-size: 21px;
}
.header_left {
    border: 1px solid #000;
    position: relative;
    margin-left: 40px;
}
.ham {
    position: absolute;
    right: 20px;
    top: 16px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: none;
}
.ham span {
    width: 20px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    left: 5px;
    top: 13px;
}

.ham span::before {
    content: '';
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 7px;
}

.ham span::after {
    content: '';
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 7px;
}
.header_left .category {
    
}
.header_right {
    margin-right: 30px;
}
.header_right span {


}
.header_right span:before {
    content: '|';
    width: 1px;
    vertical-align: 2px;
    margin: 0 28px;
}
.store_title {
    font-size: 32px;
    text-align: center;
    margin: 80px 0;
    font-weight: bold;
}
.store_wrap {
    display: flex;
    justify-content: center;
}

.desc_wrap {
    text-align: center;
    margin-top: 15px;
    border: 1px solid #000;
    border-radius: 5px;
}
.store_wrap .store_img {
    margin-right: 15px;
}
.store_wrap .store_img img {
    height: 330px;
}
.store_wrap .store_img:last-child {
    margin-right: 0;
}
.store_img .img_title {
    font-size: 23px;
    font-weight: bold;
}
.store_img .img_desc {
    font-size: 18px;
}
.store_img .img_price {
    font-size: 20px;
    margin-top: 18px;
}