body {
    background-color: #F3F3F3;
}
.imageType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
/* imageTypee01 */
.imageType01 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.imageType01 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 36px;
}
.imageType01 .image-wrap {
    overflow: hidden;
}
.imageType01 .image {
    position: relative;
    float: left;
    width: 590px;
    height: 385px;
}
.imageType01 .image:first-child {
    margin-right: 20px;
}
.imageType01 .image .image-cont {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
}
.imageType01 .image .image-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 6px;
}
.imageType01 .image .image-desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    padding-right: 30%;
    word-break: keep-all;
}
.imageType01 .image .image-btn {
    padding: 8px 18px;
    display: inline-block;
    background-color: rgba(29, 24, 24, 0.418);
    color: #fff;
    margin-top: 10px;
}
.imageType01 .image .image-btn.red {
    background-color: #9A481D;
}
.imageType01 .image .image-btn.yellow {
    background-color: #B59140;
}
.imageType01 .image .image-cont.s2 {
    background-color: #201d1649;
    width: 400px;
    padding: 20px;
}
.imageType01 .image .image-cont.s2 .image-desc {
    padding-right: 0;
}
.imageType01 .image .image-cont.s2 .image-btn {
    padding: 0;
    border-bottom: 1px solid #fff;;
}

/* imageType 02 */
.imageType02 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.imageType02 h2 {
    font-size: 45px;
    padding-bottom: 50px;

}
.imageType02 .image-wrap {
  display: flex;

}
.imageType02 .image-wrap .image{
    width: 385px;
    height: 385px;
    margin-right: 20px;
    position: relative;
}
.imageType02 .image-wrap .image .cont {
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.329);
    padding: 10px;
    border-radius: 10px;
}
.imageType02 .image .image-title {
display: block;
font-size: 21px;
color: #fff;
}
.imageType02 .image .image-desc {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    background-color: rgb(0, 247, 226);
    margin-right: 10px;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.671);
}
