@import url(//font.elice.io/EliceDigitalBaeum.css);
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
#section {
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(img/main\ back.png);
    background-size: 100% 100%;
    color: #fff;
}
.main__port {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.main__port::before {
    content: '';
    position: absolute;
    top: 5.2px;   
    width: 6.8px;
    height: 45%;
    background-color: black;
}
#aside {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#aside img {
    width: 4.5vw;
    height: 4vh;
}
#aside div {
    font-size: 0.9vw;
    margin-top: 5px;
}
.menu1 {
    position: fixed;
    top: 4%; left: 2%;
}
.menu2 {
    position: fixed;
    top: 3%; right: 2%;
}
.menu3 {
    position: fixed;
    bottom: 3%; left: 2%;
}
.menu4 {
    position: fixed;
    bottom: 3%; right: 2%;
}
#footer {
    display: flex;
    justify-content: center;
}
#footer .title {
    position: absolute;
    bottom: 12%; right: 27%;
    font-family: 'Raleway', sans-serif;
    font-size: 8.5vw;
    line-height: 0.9;
}
#footer .line {
    position: absolute;
    left: -40px; top: 15px;
    width: 3px;
    height: 133%;
    background-color: #fff;
}
#section2 {
    width: 100vw; height: 100vh;
    background: #000;
}
#section2 .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#section2 .banner img {
    margin-top: 200px;
    width: 55vw;  height: 55vh;
    filter: brightness(80%)
}
#section2 .banner h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 6vw;
    color: #fff;
    position: absolute;
    top: 65%; left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.7s ease-in-out;
}
#section2 .banner h2:hover {
    transform: translate(-50%, -50%) scale(0.95);
}
#section3 {
    background-color: #000;
    position: relative;
    z-index: -2;
}
#section3 p {
    font-family: "Elice Digital Baeum",sans-serif;
    font-weight: bold;
    color: #414141;;
    font-size: 4.2vw;
    line-height: 2;
    text-align: center;
}
#section3 p span {
    color: #fff;
}
#section3 img {
    position: absolute;
    top: 0; 
    width: 30vw; height: 30vh;
    z-index: -1;
}
#section4 {
    width: 100vw; height: 100vh;
    background-color: #fff;
}
#section4 .section4Wrap {
    margin-top: 350px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#section4 #aside {
    text-align: left;
}

#section4 #aside h2 {
    font-size: 3.8vw;
    margin-bottom: 15px;
    line-height: 1;
}
#section4 #aside p {
    font-family: "Elice Digital Baeum",sans-serif;
    font-size: 1vw;
    margin-bottom: 15px;
    font-weight: 300;
}
#section4 .introduce {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: repeat(3, minmax(100px, auto));
    margin-right: 110px;
    text-align: center;
}
#section4 .introduce .imgWrap {
    position: relative;
}
#section4 .introduce .imgWrap:hover {
    filter: brightness(70%);
}
#section4 .introduce .imgWrap:hover .descWrap {
    color: #fff;
    opacity: 1;
}
#section4 .introduce .imgWrap img {
    width: 17vw; height: 17vw;
}
#section4 .introduce .imgWrap .descWrap {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
}
#section4 .introduce .imgWrap .imgTitle {
    font-size: 45px;
}
#section4 .introduce .imgWrap .imgDesc {
    font-size: 20px;
}

@media (max-width:1600px){
    #section {
        background-size: 100% 95.5%;
        background-repeat: no-repeat;
    }
    #section2 .banner img {
        width: 60vw;  height: 40vh;
    }
}
@media (max-width:1100px){
    #section2 .banner img {
        width: 65vw;  height: 35vh;
    }
}
@media (max-width:800px){
    #section2 .banner img {
        width: 65vw;  height: 15vh;
    }
}

